body{
background-color: rgb(107, 6, 6);
color: rgb(255, 255, 255);


}	


.capa{
    color: darkgrey;
font-size: 20px;
}

#heroi{
display: flex;
padding-left: 200px;
}

.videos{

    display: flex;
    overflow: auto;
    gap: 10px;
}
.videos img{
    opacity: 0.5;
    height: 200px;
}
.videos img:hover{
    opacity: 1.0;
    border: 3px solid #b96c06;
}
